
#frame {
    color: white;
    position: relative;
    font-size: 15pt;
    line-height: 1.2;
    width: 850px;
    height: 300px;
    overflow: hidden;
    font-family: 'NanumSquare';
}

.abs {
    position: absolute;
}

.thumb {
    z-index: -1;
}

#heading {
    white-space: pre-line;
    top: 18px;
    left: 23px;
    font-weight: bold;
}

#list {
    white-space: pre-line;
    top: 18px;
    left: 85px;
}

#nick {
    font-weight: bolder;
    font-size: 32px;
    white-space: pre-line;
    bottom: 5px;
    right: 14px;
}

#footer {
    bottom: 18px;
    left: 23px;
    font-size: 13pt;
    font-weight: lighter;
}

.block {
    display: block;
    width: 850px;
    padding: 14px 28px;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    text-align: center;
}

.picker {
    display: block;
    width: 40px;
    height: 30px;
}